$theme-colors: ("primary": #8DE07F);
$font-family-base: 'Rubik',
sans-serif;
$colorBackground: #FAFAFA;
$colorInput: #f4f4f4;
$colorText: #646464;
$border-radius: 30px;
@import "node_modules/bootstrap/scss/bootstrap.scss";
body {
    font-family: $font-family-base;
}

#text {
    color: $colorText;
}

#inputEmail,
#inputName {
    background-color: $colorInput;
}

#cont {
    background-color: $colorBackground;
    min-height: 430px;
    max-width: 700px;
    margin-top: 100px;
    padding: 60px 20px 0px 20px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: #4A4A4A;
}